.bg-lisa {
    background-color: #e94e1b !important;
}
.text-lisa {
    color: #e94e1b !important;
}
.border-lisa {
    border-color: #e94e1b !important;
}
.btn-lisa {
    background-color: #e94e1b !important;
    color: #fff;
}
.border-2 {
    border-width: 2px !important;
}
.border.border-dashed {
    border-style: dashed !important;
}
.border-top.border-dashed {
    border-top-style: dashed !important;
}
.border-right.border-dashed {
    border-right-style: dashed !important;
}
.border-bottom.border-dashed {
    border-bottom-style: dashed !important;
}
.border-left.border-dashed {
    border-left-style: dashed !important;
}

.w-10 {
    width: 10% !important;
}

.bg-gray {
    background-color: #4b4a4a !important;
}
.text-gray {
    color: #4b4a4a !important;
}
.border-gray {
    border-color: #4b4a4a !important;
}
.btn-gray {
    background-color: #4b4a4a !important;
    color: #ffffff;
}

.bg-lisa-secondary {
    background-color: #747373 !important;
}
.text-lisa-secondary {
    color: #747373 !important;
}
.border-lisa-secondary {
    border-color: #747373 !important;
}
.btn-lisa-secondary {
    background-color: #747373 !important;
    color: #fff;
}

.bg-gray-light {
    background-color: #eae9e9 !important;
}
.text-gray-light {
    color: #eae9e9 !important;
}
.border-gray-light {
    border-color: #eae9e9 !important;
}
.btn-gray-light {
    background-color: #eae9e9 !important;
    color: #000000;
}

.bg-gray-lighter {
    background-color: #f5f4f3 !important;
}
.text-gray-lighter {
    color: #f5f4f3 !important;
}
.border-gray-lighter {
    border-color: #f5f4f3 !important;
}
.btn-gray-lighter {
    background-color: #f5f4f3 !important;
    color: #000000;
}

a.text-white:hover {
    color: #e94e1b !important;
}
a.text-dark:hover {
    color: #e94e1b !important;
}

#menu a.active.nav-link {
    background: #ff4d0e !important;
}
#menu a.nav-link:hover {
    background: #ff4d0e !important;
}
#menu a.nav-link {
    transition: all .3s ease;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

* {
    font-family: Ubuntu;
}


.fa-angle-left.slick-arrow {
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}
.fa-angle-right.slick-arrow {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}

.prost {

}
.link{
    color: white;
}
.link:hover{
    color: #ff4d0e;
}
a.nav-link[role=tab]{
    color: #858383;
    position: relative;
}
a.nav-link[role=tab].active:before{
    width: 10px;
    height: 10px;
    background: #ff4d0e;
    display: block;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    left: 50%;
    content: '';
    transform: translateX(-50%);
}
a.nav-link[role=tab].active{
    color: black;
}
a.nav-link[role=tab]:hover{
    color: black;
}

thead {
    border-bottom: 1px solid black;
}
thead tr th {
    padding: 20px 10px 10px;
}
tbody tr td {
    padding: 20px 10px 10px;
    border-bottom: 1px dashed #333333;
}
tbody tr:hover {
    background: #eeecec;
}

.service-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.service-content {
    margin-left: 0;
    margin-top: -50px;
    padding: 70px 1rem 1rem 1rem;
}

.h1,h1 {
    font-size: 1.8rem;
}

.text-404 {
    font-size: 6rem;
    letter-spacing: 1rem;
}

#search-input input::placeholder {
    color: white;
    font-style: italic;
}
#search-input input {
    color: white;
}

.letter-spacing-1 {
    letter-spacing: .1rem;
}
.letter-spacing-3 {
    letter-spacing: .3rem;
}
.letter-spacing-5 {
    letter-spacing: .5rem;
}

@media (min-width: 576px) {

    .h1,h1 {
        font-size: 2.5rem;
    }
    .service-content {
        margin-left: -100px;
        margin-top: 0;
        padding: 1.5rem 1.5rem 1.5rem 120px;
    }
    
}
@media (min-width: 768px) {
    .service-content {
        margin-left: 0;
        margin-top: -50px;
        padding: 70px 1rem 1rem 1rem;
    }

    .text-404 {
        font-size: 9rem;
        letter-spacing: 2rem;
    }
}

@media (min-width: 992px) {
    .service-content {
        margin-left: -100px;
        margin-top: 0;
        padding: 1.5rem 1.5rem 1.5rem 120px;
    }
}

@media (min-width: 1200px) {

}